# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Raw data
data/RAWCombinedLapsWeather2022-2025.csv

# Jupyter
.ipynb_checkpoints/

# Model artifacts
models/*

# OS
.DS_Store

# IDE
.vscode/